[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Kaktus
Icon=org.mkiol.kaktus
Exec=org.mkiol.kaktus

X-Desktop-File-Install-Version=0.26

[X-Application]
Permissions=Internet;Pictures;WebView
OrganizationName=org.mkiol
ApplicationName=kaktus
